* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(6, 100, 143);
}
.container {
  position: relative;
}
input {
  width: 100%;
  padding: 12px 14px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 64px 48px 16px 90px;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.4);
}
span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.fa-solid {
  font-size: 20px;
  cursor: pointer;
}
