* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 4px #1a237a;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#theme-icon {
  font-size: 22px;
  cursor: pointer;
}
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero button {
  padding: 10px 20px;
  border: none;
  background: #1a237a;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
/* For Dark Mode */
body.dark {
  background: #121212;
  color: #ffffff;
}
body.dark .navbar {
  background: #1e1e1e1e;
}
body.dark .nav-links a {
  color: #ffffff;
}
